.appTitle {
  font-weight: normal;
  padding: 16px 12px;
  font-size: 22px;
  line-height: 23px;
  margin: 0;
}

@media all and (min-width: 1024px) {
  .appTitle {
    font-size: 28px;
    padding: 0;
    line-height: 33px;
  }
}
