.header {
  flex-direction: row-reverse;
}

@media all and (min-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 46px 0;
  }
}
